body {
    font-family: Arial, sans-serif;
    background-image: url('img/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #d0d7e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

.textarea-row {
    display: flex;
    gap: 10px;
}

.textarea-row textarea {
    flex: 1;
    height: 100px;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea,
input[type="text"],
.buttons button {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    flex: 1;
    margin: 0 5px;
    background-color: #072d44;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.buttons button:hover {
    background-color: #064469;
}

.buttons button:active {
    background-color: #072d44;
}